
{% extends "layout.html" %}

{% block pageTitle %}
  Andrew Hick's CV
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Andrew Hick
        <span class="govuk-caption-xl">Curriculum Vitae</span>
      </h1>
    </div>
  </div>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-l">About me</h2>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I am a senior quality assurance engineer who specialises in the accessible design of high-profile government services in agile teams. With a creative mind and broad range of design, research, test and code skills, I would like to expand my career into full-time interaction design.</p>
        <p class="govuk-body">For over two years I have had a keen interest and direct input into the user centred design of major Defra digital services. In parallel, I have built experience and knowledge in web design and prototyping.</p>
        <p class="govuk-body">I am a friendly, flexible and hard-working part of any team while freely challenging any decisions which are not in the interest of a service’s users.</p>
        <p class="govuk-body">My web portfolio is available on <a href="https://www.andrewhick.com/web">andrewhick.com/web</a>.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">My skills</h2>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">User-centered design</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I work closely and proactively with our team’s interaction and content designers. This ensures that the proposed designs are accessible, clear and usable, helping prevent issues before they arise in development. Both designers actively seek my input and proof reading before delivering a prototype.</p>
        <p class="govuk-body">I am confident in using and adapting HTML, CSS and simple JavaScript to create accessible websites including my own, <a href="https://www.andrewhick.com">andrewhick.com</a> and <a href="http://www.imageteksystems.co.uk">imageteksystems.co.uk</a>.</p>
        <p class="govuk-body">I regularly participate in user research activities and have conducted lab sessions with external users. In my QA role, I am responsible for ensuring that the end product can be traced back to user needs.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Accessibility</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I perform regular accessibility audits on prototypes and front-end development against GOV.UK standards, using a mixture of automated tools and manual checking. I also make recommendations on how to implement fixes for accessibility issues and have worked with, and learnt from, specialist accessibility agencies.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Agile working</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I am a strong advocate for agile working, and have written a Defra Digital blog post on this subject. Outside of digital services, I have helped two traditional development teams adopt more collaborative ways of working, helping them avoid wasted effort. I am a Jira administrator to help our teams track their work.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Tools and code</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Given my technical background in QA, I am skilled in automated testing, where I have applied my knowledge of Ruby and Javascript to run Selenium-based browser tests. This has given me the confidence to use code-based prototyping tools such as Nunjucks.</p>
        <p class="govuk-body">I have also trialled the Sketch tool for prototyping and use Browserstack and Litmus to simulate pages in different browsers and clients to meet GOV.UK standards.</p>
        <p class="govuk-body">I frequently contribute via GitHub to our team’s design, development and QA repositories.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">GOV.UK assessments</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I have assessed several GOV.UK services against the Service Standard at Alpha, Beta and Live, covering user experience, design, user research and accessibility.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Presenting and learning</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I contribute to the wider Defra team by sharing my knowledge, recently running two accessibility presentations to 50+ colleagues with positive feedback. I have also maintained a team wiki and an intranet site.</p>
        <p class="govuk-body">I consider myself a strong visual learner, specialising in mind maps which help me to retain information and share it with others.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Background</h2>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Defra Digital
          <span class="govuk-caption-m">September 2014 to present</span></h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-font-weight-bold">Senior Quality Assurance Engineer</p>
        <p class="govuk-body">Responsible for the quality of several public-facing and internal services. Using Behaviour Driven Development to prevent (rather than find) defects and ensure services meet user needs.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Lloyds Banking Group
          <span class="govuk-caption-m">April 2006 to June 2014</span></h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-font-weight-bold">Test Lead</p>
        <p class="govuk-body">Leading a team of up to 30 colleagues mainly based offshore to ensure the quality of branch-based financial tools. Regular contribution to cost-saving process improvement initiatives.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Yonezawa City Board of Education, Japan
          <span class="govuk-caption-m">July 2003 to July 2005</span></h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-font-weight-bold">Assistant Language Teacher (JET Programme)</p>
        <p class="govuk-body">Creating (and refining) activities in a range of learning styles to help children aged 6 to 15 engage with the English language and UK culture.</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Formal education
          <span class="govuk-caption-m">to June 2002</span></h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body govuk-!-font-weight-bold">BSc (Hons) in Mathematics (European Studies) at Durham University (2002)</p>
        <p class="govuk-body">A-levels in Maths, Further Maths, French and Physics, all grade A (1998)</p>
        <p class="govuk-body">Ten GCSEs, five at grade A* and five at grade A (1996)</p>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Training</h3>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">I hold the BCS Foundation Certificate in User Experience.  I love learning, read up regularly on user experience and design, and have attended:
        <ul class="govuk-list govuk-list--bullet">
          <li>Two UX Bristol conferences</li>
          <li>Webcredible web accessibility course</li>
          <li>Udacity web accessibility (online course)</li>
          <li>User research in GOV.UK course</li>
          <li>Government accessibility and design meet ups</li>
        </ul></p>
      </div>
    </div>

  </main>
</div>

{% endblock %}
